#about {
  margin-top: -103px;
  width: 100%;
  z-index: -1;
}

.about__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/red cup big.jpg') no-repeat center / cover scroll;
  height: 32vh;

  h2 {
    margin-top: 5rem;
    text-align: center;
    color: var(--clr-white);
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  /* gap: 8rem; */
}
