/* Main 
 */

.button__top {
  position: fixed;
  right: 30px;
  bottom: 100px;
  display: inline-block;
  border-radius: 50px;
  background: var(--clr-light-green);
  padding: 5px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-8px);
    box-shadow: var(--box-shadow);
    opacity: 1;
  }
}

.button__top img {
  width: 40px;
  filter: invert();
}
